.conatinerCatalogo
    display: flex
    flex-wrap: wrap
    flex-direction: row
    gap: 60px
    width: 100%
    justify-content: center

.tituloCatalogo
    width: 100%
    justify-content: center
    display: flex
    margin-top: 110px
    margin-bottom: 100px
    font-size: 128px
    color: #5A3A1E
    font-family: Afacad, Arial, Helvetica, sans-serif
    font-weight: bold

@media screen and (max-width: 1280px)
    .tituloCatalogo
        font-size: 100px
        margin-top: 165px
        margin-bottom: 100px

@media screen and (max-width: 800px)
    .tituloCatalogo
        font-size: 114px
        margin-top: 165px
        margin-bottom: 100px

@media screen and (max-width: 420px)
    .tituloCatalogo
        font-size: 52px
        margin-top: 50px
        margin-bottom: 50px