.btnWhats
    height: 88px
    width: 474px
    border-radius: 20px
    border: none
    background-color: #D18B47
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white
    font-family: Afacad, Arial, Helvetica, sans-serif
    font-size: 48px
    display: flex
    justify-content: center
    align-items: center
    transition: all 0.3s ease
    font-weight: bold

    &:hover
        scale: 1.01
        background-color: #A05B18

.containerSobre
    display: flex
    align-items: center
    justify-content: center
    column-gap: 70px
    width: 100%

    img
        width: 737px
        height: 737px

.containerWords
  display: flex
  flex-direction: column
  row-gap: 20px

  h1
    font-size: 128px
    color: #5A3A1E
    font-family: Afacad, Arial, Helvetica, sans-serif
    font-weight: bold

  p
    font-size: 36px
    color: #884D19
    font-family: Afacad, Arial, Helvetica, sans-serif
    width: 474px

.broaEsquerda
    position: absolute
    max-height: 419px
    max-width: 339px
    left: 0
    top: 70%

.broaDireita
    position: absolute
    max-height: 419px
    max-width: 316px
    right: 0
    top: 80%